body {
    margin: 0%;
    top: 0px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: #798b73;
    font-weight: bold;
  }


  #Menu2 {
    background: #abbba6;
    box-shadow: 0px 0px 20px #000000;
    font-weight: bold;
  }
  
  #Menu2 ul {
    overflow: hidden;
    background: #abbba6;
    list-style: none;
    position: static;
    margin: 0px 0px 0px 900px;
    padding: 0px;
  }
  #Menu2 ul li {
    display: inline;
  }
  #Menu2 a {
    float: left;
    text-decoration: none;
    color: #000000;
    text-align: center;
    display: block;
    padding: 15px 20px;
    font-size: 20px;
  }
  
  #Menu2 a:hover {
    background: #798b73;
    color: #ffffff;
  }
  
  #ReceitaPassos {
    text-align: center;
    font-size: 20px;
  }
  #ReceitaPassos ul {
    text-decoration: none;
    color: #ffffff;
  }
  #ReceitaPassos p {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
  }
  #ReceitaPassos h1 {
    text-decoration: none;
    color: #84be75;
  }
  #ReceitaPassos h2 {
    text-decoration: none;
    color: #aee5a0;
  }
  #ReceitaPassos h3 {
    text-decoration: none;
    color: #aee5a0;
  }
  
  